NEXT_PUBLIC_SUPABASE_URL=https://oysghnobhxqavqfrervb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_0Nrdjmw2SAXEMHdlql5Y5g__YHb1nlZ
NEXT_PUBLIC_APP_URL=https://project-mooshroom.vercel.app
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
WEB_PUSH_SUBJECT=mailto:you@example.com
SUPABASE_SERVICE_ROLE_KEY=
