NEXT_PUBLIC_SUPABASE_URL=https://oysghnobhxqavqfrervb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_0Nrdjmw2SAXEMHdlql5Y5g__YHb1nlZ
NEXT_PUBLIC_APP_URL=https://project-mooshroom.vercel.app
